
*.editorconfig
obj/Debug/net6.0-windows/SGB.assets.cache
obj/Debug/net6.0-windows/SGB.assets.cache
*.cache
*.cache
*.cache
*.cache
*.json
.vs/SGB/FileContentIndex/ccdb987e-0387-4f4e-aead-11ecfb2e450e.vsidx
.vs/SGB/FileContentIndex/c727e6ef-6edb-4f14-8108-691e2c6c6240.vsidx
.vs/SGB/FileContentIndex/ccdb987e-0387-4f4e-aead-11ecfb2e450e.vsidx
.vs/SGB/v17/.suo
